@model EntityLayer.Concrete.Service

@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">Yeni Hizmet Ekle</p>
            <form class="forms-sample" method="post">
                @using (Html.BeginForm("AddService", "Service", FormMethod.Post))
                {
                    @Html.Label("Hizmet Başlığı")
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    <br />
                    <label>Resim Yolu</label>
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button type="button" class="btn btn-dark" onclick="window.history.back();">İptal Et</button>
                }
            </form>
        </div>
    </div>
</div>